.cursor{
    cursor: pointer;
    color: white;
}

.backColor{
    background: linear-gradient(36deg, #420033 30%, #2A82C0 88%);
}

.text-decorator-none{
    text-decoration: none;
}

.navneonText{
    animation: flicker 1.5s infinite 
    alternate;
    color: #fff;
    font-family: Pixeled!important;
    font-size: small!important;
   
}

@keyframes flicker{
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #2A82C0,
        0 0 82px #2A82C0,
        0 0 92px #2A82C0,
        0 0 102px #2A82C0,
        0 0 151px #2A82C0;
    }

    20%, 24%, 55%{
        text-shadow: none;
    }
}