.topo{
    margin-top: 20px;
}

.testeTema{
    color: black!important;
}


.neonText2{
    animation: pulsate 1.0s ease-in-out infinite alternate;
    color: white !important;
   
}

.textCad input, label{
    color: white!important;
}

@keyframes pulsate {
    100%{
        text-shadow:
        0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff14bd,
      0 0 80px #ff14bd,
      0 0 90px #ff14bd,
      0 0 100px #ff14bd,
      0 0 150px #ff14bd;
    }
    0%{
        text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #ff14bd,
      0 0 45px #ff14bd,
      0 0 55px #ff14bd,
      0 0 70px #ff14bd,
      0 0 80px #ff14bd;
    }
}

.button{
    font-weight: bold!important;
    color: white !important;
    display: inline-block !important;
    border: var(--clr-neon) 0.125em solid !important;
    background-color: #3B9CFA!important;
    
    text-shadow: 
    0 0 0.125em hsl(0, 0%, 100% /0.3),
    0 0 0.45em var(--clr-neon) !important;

    box-shadow: 
    inset 0 0 1em 0 var(--clr-neon), 
    0 0 1em 0 var(--clr-neon)!important;

    position: relative !important;
}

.button::before{
    pointer-events: none!important;
    content: ''!important;
    position: absolute!important;
    background: var(--clr-neon)!important;
    transform: perspective(3em) rotateX(40deg) scale(1, 0.35) !important;
    filter: blur(2em)!important;
    opacity: 0.7 !important;
    
}

.button::after{
    content:''!important;
    position: absolute!important;
    box-shadow: 0 0 2em 0.5em var(--clr-neon)!important;
    opacity:0!important;
    background: var(--clr-neon)!important;
    z-index: -1!important;
    transition: opacity 100ms linear !important;
}

.button:hover,
.button:focus{
    color: var(--clr-bg)!important;
    text-shadow: none!important;
    background: var(--clr-neon)!important;
    font-weight: bold!important;
}

.button:hover::before,
.button:focus::before{
    opacity: 1!important; 
}

.button:hover::after,
.button:focus::after{
    opacity: 1 !important;
}
