@font-face {
    font-family: Pixeled;
    src: url(../../assets/fonts/pixeled/Pixeled.ttf);
}

.cadastroBG{
    background-image: url(../../assets/img/cadastrarBG.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: 100% 100%;
    background-position: center;
}

.cadastroBG2{
    background-image: url(../../assets/img/log-cadBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.neonText2{
    animation: pulsate 1.0s ease-in-out infinite alternate;
    color: white !important;
    font-family: Pixeled!important;
   
}

.textCad input, label{
    color: white!important;
    font-family: Pixeled!important;
}

@keyframes pulsate {
    100%{
        text-shadow:
        0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff14bd,
      0 0 80px #ff14bd,
      0 0 90px #ff14bd,
      0 0 100px #ff14bd,
      0 0 150px #ff14bd;
    }
    0%{
        text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #ff14bd,
      0 0 45px #ff14bd,
      0 0 55px #ff14bd,
      0 0 70px #ff14bd,
      0 0 80px #ff14bd;
    }
}


:root{
    --clr-neon: hsl(317 100% 54%);
    --clr-neon2: rgb(255, 255, 255);
    --clr-bg: hsl(32 21% 16%);
    --clr-bg2: rgb(248, 26, 26);
}

.buttonCancel{
    margin-right: 30px!important;
    font-weight: bold!important;
    color: white !important;
    display: inline-block !important;
    border: var(--clr-neon2) 0.125em solid !important;
    background-color: #fa3b3b!important;
    font-family: Pixeled!important;
    
    text-shadow: 
    0 0 0.125em hsl(0, 0%, 100% /0.3),
    0 0 0.45em var(--clr-neon) !important;

    box-shadow: 
    inset 0 0 1em 0 var(--clr-neon), 
    0 0 1em 0 var(--clr-neon)!important;

    position: relative !important;
}

.buttonCancel::before{
    pointer-events: none!important;
    content: ''!important;
    position: absolute!important;
    background: var(--clr-neon)!important;
    transform: perspective(3em) rotateX(40deg) scale(1, 0.35) !important;
    filter: blur(2em)!important;
    opacity: 0.7 !important;
    
}

.buttonCancel::after{
    content:''!important;
    position: absolute!important;
    box-shadow: 0 0 2em 0.5em var(--clr-neon)!important;
    opacity:0!important;
    background: var(--clr-neon)!important;
    z-index: -1!important;
    transition: opacity 100ms linear !important;
}

.buttonCancel:hover,
.buttonCancel:focus{
    color: var(--clr-bg)!important;
    text-shadow: none!important;
    background: var(--clr-neon)!important;
    font-weight: bold!important;
}

.buttonCancel:hover::before,
.buttonCancel:focus::before{
    opacity: 1!important; 
}

.buttonCancel:hover::after,
.buttonCancel:focus::after{
    opacity: 1 !important;
}
